@import "tailwindcss";

@theme {
  --color-background: #020617; /* Slate 950 */
  --color-surface: #0f172a;    /* Slate 900 */
  --color-surface-highlight: #1e293b; /* Slate 800 */
  
  --color-primary: #10b981;    /* Emerald 500 */
  --color-primary-glow: rgba(16, 185, 129, 0.5);
  
  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains);
}

/* Utilitário de Noise (Textura) */
.bg-noise {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  opacity: 0.03;
  pointer-events: none;
}

/* Scrollbar customizada */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #334155; border-radius: 10px; }